<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Home|ASK-Software</title>
</head>
<body>
    {{>layout}}
        <h1>HOME</h1>
    {{>footer}}
</body>
</html>
<!-- <ul>
        <li>app.get</li>
        <li>app.post</li>
        <li>app.put</li>
        <li>app.delete</li>
        <li>app.use</li>
        <li>app.all</li>
        <li>app.listen</li>
    </ul> -->